*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar{
    /* border: 2px solid black; */
    background-color: cornflowerblue;
    color: cornsilk;
    
}
.item-container{
    /* border: 2px solid black; */
    width: fit-content;
    margin-left: auto;
    margin-top: 0.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0rem;
}
.item-container li{
    font-size: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
a{
    color: cornsilk;
    text-decoration-line: none;
}
#brand{
    margin-left: 0.5rem;
    font-size: 30px;
}

.non-bullet{
    /* border: 2px solid black; */
    list-style: none;
    display: inline;
}