@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400&family=Gluten:wght@200&display=swap');
body{
    font-family: 'Gemunu Libre', sans-serif;
    background-color: rgba(226, 200, 226, 0.945);
    /* font-size: 30px; */
/* font-family: 'Gluten', cursive; */
}
*{
    margin: 0;
    padding: 0;
}

/* for all the html pages container div */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* for the navbar of all html pages */
.navbar{
    background-color: cornflowerblue;
    color: cornsilk;
    
}
.item-container{
    width: fit-content;
    margin-left: auto;
    margin-top: 0.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0rem;
}
.item-container li{
    font-size: 26px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
a{
    color: cornsilk;
    text-decoration-line: none;
}
#brand{
    margin-left: 0.5rem;
    font-size: 38px;
}
.non-bullet{
    list-style: none;
    display: inline;
}

/* isTriangle page css */
#angles-heading{
    font-size: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.angle-inputs{
    margin-bottom: 1rem;
    font-size: 18px;
    padding: 5px;
}
#angle1-label{
    font-size: 40px;
}
#angle2-label{
    font-size: 40px;
}
#angle3-label{
    font-size: 40px;
}
#is-triangle-btn{
    font-size: 25px;
    padding: 0.3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
button:hover{
    background-color: cornflowerblue;
    color: white;
}
#output-box{
    font-size: 35px;
    text-align: center;
}

/* css for quiz page */
#quiz-heading{
    font-size: 50px;
    margin-top: 1rem;
}
#quiz-instruction{
    font-size: 28px;
    margin-bottom: 1rem;
}
.question-container{
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.quiz-form{
    margin-bottom: 1rem;
    padding: 1rem;
}
#submit-answer-btn{
    font-size: 20px;
    padding: 0.3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 0.3rem;
}
.option2{
    margin-left: 1.5rem;
}
.option3{
    margin-left: 1.5rem;
}
#hypotenuse-formula{
    text-align: center;
}
#output{
    text-align: center;
}
/* css for hypotenuse.html */
#hypotenuse-heading{
    font-size: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
#label-base{
    font-size: 40px;
}
#label-height{
    font-size: 40px;
}
#base{
    margin-bottom: 1rem;
    font-size: 18px;
    padding: 5px;
}
#height{
    margin-bottom: 1rem;
    font-size: 18px;
    padding: 5px;
}
#calculate-hypotenuse-btn{
    font-size: 25px;
    padding: 0.3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
#output{
    font-size: 35px;
    text-align: center;
}
#area-heading{
    font-size: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
#calculate-area-btn{
    font-size: 25px;
    padding: 0.3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
#area-formula{
    text-align: center;
}
#output-area{
    font-size: 35px;
    text-align: center;
}